In [3]:
# The code was removed by Watson Studio for sharing.

   BookId               Name           Author  Price
0       1           Almighty   Irwing Wallace    350
1       2              Hotel    Arthur Hailey    400
2       3  Puppet On a Chain  Alistair McLean    400
3       4           The Firm     John Gresham    415
4       5  Eye of the needle       Ken Follet    500

In [ ]:

body = client_3e8c9db7b23d4b7d9bcb3d475ef7b3de.get_object(Bucket='soumyacoursera-donotdelete-pr-6zyq8cmuqmdtok',Key='Car2DB_eng_cut.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_2 = pd.read_csv(body)
df_data_2.head()